.Buttons {
    position: relative; /* Allows absolute positioning inside */
    width: 100vw;  /* Full width */
    height: 100vh; /* Full height */
}

button {
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.5s ease;
    position: absolute;
}

/* Blue button */
.Credits {
    background-color: #464646;
    top:   10px;
    right: 750px;
}

.Credits:hover {
    background-color: #161fbe;
}

.Home {
    background-color: #464646;
    top:   10px;
    right: 657px;
}

.Home:hover {
    background-color: #161fbe;
}

.Download {
    background-color: #464646;
    top:   10px;
    right: 535px;
}

.Download:hover {
    background-color: #161fbe;
}

.Features {
    background-color: #464646;
    top:   10px;
    right: 850px;
}

.Features:hover {
    background-color: #161fbe;
}

#tab1 h2, #tab1 p { 
    position: relative;
    left: 545px; /* Moves text to the right */
    top: 200px;  /* Moves text down */
    font-size: 29px;
    color: white;
    font-family: 'Times New Roman';
}

#tab4 h2, #tab4 p { 
    position: relative;
    left: 530px;
    top: 140px;
    font-size: 29px;
    color: white;
    font-family: 'Times New Roman';
}

#tab3 button { 
    position: relative;
    left: 545px;
    top: 320px;
    color: white;
    background-color: #464646; 
}

#tab2 h2{ 
    position: relative;
    left: 530px;
    top: 170px;
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman';
}

#tab2 p{
    position: relative;
    left: 370px;
    top: 170px;
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman';
}

.tab-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.active {
    display: block;
    opacity: 1;
}


